body {
  background-color: #000000;
  background-image: url('../img/static.gif');
  background-repeat: repeat;
  color: white;
  margin: 0; padding: 0;
  height: 100%;
}

.h {
    text-shadow: 0px 0px 3px #000000;
      background-color: black;
}

.text {
  background-color: black;
  text-align: center;
  padding: 20px;
  width: 400px;
  margin: 300px auto 0 auto;
  opacity: 0.5;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}