
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-height : 900px) {
  .hide-below-900px {
    display: none !important;
  }
}

.astroid-container {
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
}

.astroid {
  -webkit-animation: astroids 60s infinite normal linear;
  -moz-animation: astroids 60s infinite normal linear;
  -ms-animation: astroids 60s infinite normal linear;
  -o-animation: astroids 60s infinite normal linear;
  animation: astroids 60s infinite normal linear;
  position: relative;
  margin: 10px 0 0 0;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: url(../img/astroidMed.png)
}

.astroid.tiny {
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  background: url(../img/astroidTiny.png)
}
.astroid.small {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background: url(../img/astroidSmall.png)
}
.astroid.normal {
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  background: url(../img/astroidMed.png)
}
.astroid.large {
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  background: url(../img/astroidLarge.png)
}

.astroid.astronaut {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background: url(../img/astronaut.png)
}

@-webkit-keyframes astroids {
  0% {
      left: -100%;
  }
  100% {
      left: 120%;
  }
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes astroids {
  0% {
      left: -100%;
  }
  100% {
      left: 120%;
  }
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes astroids {
  0% {
      left: -100%;
  }
  100% {
      left: 120%;
  }
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@keyframes astroids {
  0% {
      left: -100%;
      -moz-transform: rotate(0deg);
  }
  100% {
      left: 120%;
      -moz-transform: rotate(360deg);
  }
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

.astroid-1 {
  -webkit-animation-duration: 63s;
  -moz-animation-duration: 63s;
  -ms-animation-duration: 63s;
  -o-animation-duration: 63s;
  animation-duration: 63s;
  margin-left: 0%;
}

.astroid-2 {
  -webkit-animation-duration: 9s;
  -moz-animation-duration: 9s;
  -ms-animation-duration: 9s;
  -o-animation-duration: 9s;
  animation-duration: 9s;
  margin-left: 0%;
}

.astroid-3 {
  -webkit-animation-duration: 42s;
  -moz-animation-duration: 42s;
  -ms-animation-duration: 42s;
  -o-animation-duration: 42s;
  animation-duration: 42s;
  margin-left: 50%;
}

.astroid-4 {
  -webkit-animation-duration: 52s;
  -moz-animation-duration: 52s;
  -ms-animation-duration: 52s;
  -o-animation-duration: 52s;
  animation-duration: 52s;
  margin-left: 43%;
}

.astroid-5 {
  -webkit-animation-duration: 115s;
  -moz-animation-duration: 115s;
  -ms-animation-duration: 115s;
  -o-animation-duration: 115s;
  animation-duration: 115s;
  margin-left: 83%;
}

.astroid-6 {
  -webkit-animation-duration: 89s;
  -moz-animation-duration: 89s;
  -ms-animation-duration: 89s;
  -o-animation-duration: 89s;
  animation-duration: 89s;
  margin-left: 73%;
}

.astroid-7 {
  -webkit-animation-duration: 109s;
  -moz-animation-duration: 109s;
  -ms-animation-duration: 109s;
  -o-animation-duration: 109s;
  animation-duration: 109s;
  margin-left: 69%;
}

.astroid-8 {
  -webkit-animation-duration: 86s;
  -moz-animation-duration: 86s;
  -ms-animation-duration: 86s;
  -o-animation-duration: 86s;
  animation-duration: 86s;
  margin-left: 100%;
}

.astroid-9 {
  -webkit-animation-duration: 101s;
  -moz-animation-duration: 101s;
  -ms-animation-duration: 101s;
  -o-animation-duration: 101s;
  animation-duration: 101s;
  margin-left: 10%;
}

.astroid-10 {
  -webkit-animation-duration: 76s;
  -moz-animation-duration: 76s;
  -ms-animation-duration: 76s;
  -o-animation-duration: 76s;
  animation-duration: 76s;
  margin-left: 14%;
}

.astroid-11 {
  -webkit-animation-duration: 96s;
  -moz-animation-duration: 96s;
  -ms-animation-duration: 96s;
  -o-animation-duration: 96s;
  animation-duration: 96s;
  margin-left: 73%;
}

.astroid-12 {
  -webkit-animation-duration: 83s;
  -moz-animation-duration: 83s;
  -ms-animation-duration: 83s;
  -o-animation-duration: 83s;
  animation-duration: 83s;
  margin-left: 51%;
}

.astroid-13 {
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -ms-animation-duration: 12s;
  -o-animation-duration: 12s;
  animation-duration: 12s;
  margin-left: 84%;
}

.astroid-14 {
  -webkit-animation-duration: 47s;
  -moz-animation-duration: 47s;
  -ms-animation-duration: 47s;
  -o-animation-duration: 47s;
  animation-duration: 47s;
  margin-left: 34%;
}

.astroid-15 {
  -webkit-animation-duration: 133s;
  -moz-animation-duration: 133s;
  -ms-animation-duration: 133s;
  -o-animation-duration: 133s;
  animation-duration: 133s;
  margin-left: 65%;
}
